
.row {
    justify-content: center;
    display: flex;
}

.characterBox {
    font-size: large;
    pointer-events:none;
    border-radius: 1;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

.characterBox2 {
    background-color: grey;
    text-transform: uppercase;
    text-align: center;
}

.Unanswered {
    background-color: grey;
    pointer-events: auto;
}
.Correct {
    background-color: green;
}

.Partial { 
    background-color: yellow;
}

.Wrong {
    background-color: grey;
}
