@import '../css/colors.scss';


:root {
    --color-present: var(--yellow-3);
    --color-correct: var(--green);
    --color-absent: var(--color-tone-2);
    --tile-text-color: var(--wordleBlack);
    --key-text-color: var(--color-tone-1);
    --key-evaluated-text-color: var(--color-tone-7);
    --key-bg: var(--color-tone-4);
    --key-bg-present: var(--color-present);
    --key-bg-correct: var(--color-correct);
    --key-bg-absent: var(--color-absent);
    --key-evaluated-text-color: var(--color-tone-7);
    --key-evaluated-text-color-absent: var(--white);
    --modal-content-bg: var(--color-tone-7);
    --outline-focus: var(--outlineBlue);
    --color-correct-high-contrast: var(--wordle-high-contrast-green);
}


.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.characterBox {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--tile-text-color);
    text-transform: uppercase;
    user-select: none;
    background-color: var(--color-tone-7);
    border: 2px solid var(--color-tone-3);
    color: var(--color-tone-1);
}

.Unanswered {
    background-color: white;
    pointer-events: auto;
}
.Correct {
    background-color: green;
}

.Partial { 
    background-color: yellow;
}

.Wrong {
    background-color: grey;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0px 20px;
    height: 65px;
    color: var(--color-tone-1);
    border-bottom: 1px solid var(--color-tone-4);
}

.dashed {
    border-top: 3px solid #bbb;
}

.header-menu-left {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
}

.header-title {
    text-align: center;
    width: 100%;
    font-size: 36px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.game-container {
    width: 350px;
    height: 420px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.header-menu-right {
    display: flex;
    justify-content: flex-end;
    width: 350px;
}

.header-icon {
    padding: 0 6px;
}

.header-icon-left {
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 8px;
}